main div, header, footer {
    height: 150px;
    margin-bottom: 30px;
    background: #4CD7D0;
}

header{
    width: 600px;
}

footer {
    width: 600px;
}

.cell{
    width: 180px;
    float: left;
    margin-right: 30px;
}

header, footer {
    width: 100%;
    clear: both;
}

footer{
    clear: both;
}

.cell:last-of-type{
    margin-right: 0;
}

main {
    width: 600px;
    margin: auto;
}